{% load static %}
<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CONTACTO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/contacto.css' %}">
    </head>
    <body>
        <header>
            <nav role="navigation">
                <div id="menuToggle">
                  <input type="checkbox" />
                  <span></span>
                  <span></span>
                  <span></span>
                  <ul id="menu">
                    <a href="{% url 'home' %}" ><li>HOME</li></a>
                    <a href="{% url 'login' %}"><li>INICIAR SESION</li></a>
                    <a href="{% url 'registro' %}"><li>REGISTRARME</li></a>
                    <a href="{% url 'info' %}"><li>INFORMACION SANBURGER</li></a>
                    <a href="{% url 'contacto' %}"><li>CONTACTANOS</li></a>
                    <a href="{% url 'chat' %}"><li>INICIA UN CHAT</li></a>
                  </ul>
                </div>
              </nav>
              <div class=" imagen">
              </div>
              
            
              
          
        </header>

        <section class = "seccionCabecera">
          <h1> CONTACTO </h1>
          <div class = pregunta>
            <h3> ¿Quieres contactar con nosotros? </h3>
            <p> SanBurger no ofrece atención al cliente vía llamada o WhatsApp. Puedes ponerte en contacto con nosotros utilizando nuestro formulario de contacto.
          </div>
          <div class = formulariocontacto>
            <h2>FORMULARIO DE CONTACTO</h2>
            <p> Es necesario que rellene todo los campos. De no ser así, no podrá enviar el formulario.
          </div>
      <h4> Información Personal </h4>
            <form action="contacto" method="post" onsubmit="return validarFormulario()">
                {% csrf_token %}
                <label for="nombre"> Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="apellidos"> Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" required>
              
    
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" required>
              
              <h4> Mensaje </h4>
              <label for="asunto">Asunto:</label>
        <select id="asunto" name="asunto" required>
            <option value="" selected>--Selecciona una opción--</option>
            
            <option value="alergenos">Valoracion</option>
            <option value="takeaway">Queja</option>
            <option value="sugerencia">Sugerencia</option>
            <option value="otro">Otro</option>
        </select>
    
                <label for="comentario">Comentario:</label>
                <textarea id="comentario" name="comentario" rows="4" required></textarea>
              
                    <div class="checkbox1">
                        <input type="checkbox" id="politicaPrivacidad" name="politicaPrivacidad" required>
                        <label for="politicaPrivacidad">He leído y acepto la política de privacidad.</label>
                    </div>
               
    
                <button type="submit">Enviar</button>
            </form>
        </section>
        <div class="footer">&copy;<span id="year"> </span><span> Deusto.Todos los derechos reservados.</span></div>

    </body>
    </html>