{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% now "H:i" as hora_actual %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Establecimientos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/show_bars.css' %}">
</head>
<body>
    <header>
            <nav role="navigation">
              <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                  <a href="#" id="inicio"><li>INICIO</li></a>
                  <a href="{% url 'datos_usuario' %}" id="perfil"><li>PERFIL</li></a>
                  <a href="#" id="logout"><li>LOGOUT</li></a>
                </ul>
              </div>
            </nav>
    </header>

    <main>
        <div class="logo">    <img src="../../static/IMAGES/san_logo.png" alt="SANBURGER"></div>
        <br>
        <br>
        <div class="titulo">
            <h2>
                ESTABLECIMIENTOS {{nombre_categoria}}
            </h2>
        </div>
        <div class="contenedor">
            {%for es,estado in establecimientos.items%}
            
                <div class="establecimiento">
                    <div class="bar">
                        {% if estado is False %}
                            <a id="bares" name="{{es.nombre_establecimiento}}" href="">{{es.nombre_establecimiento}}</a>
                        {% else %}
                            <a id="bares" name="{{es.nombre_establecimiento}}" href="{% url 'tipos' nombre_categoria es.nombre_establecimiento %}">{{es.nombre_establecimiento}}</a>
                        {% endif %}
                    </div>
                    <div class="estado">
                        {%if estado is False%}
                            <img src="../../static/IMAGES/cerrado.png" alt="SANBURGER">
                        {%else%}
                            <img src="../../static/IMAGES/abierto.png" alt="SANBURGER">
                        {%endif%}
                    </div>
                </div>
        </div>
            {%empty%}
                <h1>No hay categorias</h1>
            {%endfor%}
        </div>
    </main>
    <div class="footer">&copy;<span id="year"> </span><span> Deusto.Todos los derechos reservados.</span></div>


</body>
    <script type="text/javascript">
        window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            window.location.reload();
            }
        });
    </script>
    <script type="text/javascript">
        var salir = document.getElementById('logout');
        salir.addEventListener('click', function(event) {
            var confirmacion = confirm('¿Estas seguro que desas salir de SANBURGER?');
            if (confirmacion) {
                var url ="{% url 'logout'%}";            
                window.location.href = url;
            } 
            else {
                alert('Operación cancelada');
            }
        });
    </script>
    <script type="text/javascript">
        var inicio = document.getElementById('inicio');
        inicio.addEventListener('click', function(event) {
            var url ="{% url 'calidad'%}";            
            window.location.href = url;
        });
    </script>

</html>